(
  assets:
   [ 
    ("CeilingLights", File ( path: "blueprints/CeilingLights.glb" )),
    ("PitchMound", File ( path: "blueprints/PitchMound.glb" )),
    ("mound_material", File ( path: "materials/mound_material.glb" )),
    ("mound_rubber_material", File ( path: "materials/mound_rubber_material.glb" )),
    ("Room", File ( path: "blueprints/Room.glb" )),
    ("floor.material", File ( path: "materials/floor.material.glb" )),
    ("ceiling.material", File ( path: "materials/ceiling.material.glb" )),
    ("wall.material", File ( path: "materials/wall.material.glb" )),
    ("StrikeZone", File ( path: "blueprints/StrikeZone.glb" )),
    ("strike_zone.material", File ( path: "materials/strike_zone.material.glb" )),
    ("HomePlate", File ( path: "blueprints/HomePlate.glb" )),
    ("mound_rubber_material", File ( path: "materials/mound_rubber_material.glb" )),
   ]
)